@charset "utf-8";
/*html { overflow-x:hidden; }*/
body{ font-family:"微软雅黑"; background: #f3f3f3;}
a,a:hover{ text-decoration: none;}
ul{list-style: none;}
/*==========================================================      登陆注册页面     ==========================================================*/
.icons{ background-image:url(//static.m1905.cn/passport/images/icons.png); background-repeat: no-repeat}
.nav-header{ color: #9498a1; font-size: 21px; font-weight: normal; margin-left: 16px; float: left; border-left: 1px solid #e3e3e3; height: 30px; line-height: 30px; padding-left: 20px;}
.pass-wrapper{ width: 100%;}
.pass-inner{ width: 980px; height: 660px; margin: 0 auto; font-family:"微软雅黑"; position: relative;}
.pass-inner .website{ width: 750px; height: 660px; position: absolute; right: 400px; top: 0px; display: none;}
.pass-inner .website a{ width: 750px; height: 660px; display: block;}
.passBox{ width:352px; padding:20px 0 25px 50px; float: right; background:#FFF; border-radius: 3px; margin: 40px 0;}
.head-logo{ max-width:980px; margin:0 auto;}
.head-logo{ height:52px; margin-top:22px;}
.head-logo a{ text-indent:-9999em; width:auto; display:block; height:32px; background-position: 0px 0px; _background-position: 0 -45px;float: left;}
.passBox fieldset, .form-action fieldset{ border:0; padding:0; margin:0;}
.passBox .tag{ margin-left: 2px; width: 300px; border-bottom: 1px solid #e4e4e4; float: left;padding-left: 0;}
.passBox .tag li{ font-size: 20px; line-height: 60px; font-weight: normal; cursor: pointer;float: left;width: 150px;text-align: center;}
.passBox .tag li a{ padding: 0 8px; display: block; color: #676767;}
.passBox .tag li.active, .passBox .tag li.active a{ color:#418fe4;}
.passBox .tag li.active{ border-bottom: 2px solid #418fe4;}
.passBox .passContent, .nav-header{ display:none;}
.passBox .passContent.active, .nav-header.active{ display:block;}
.passBox input, .gov-right .row input[type="text"]{ font-family:"微软雅黑"; margin: 0px; float: left; height:30px; line-height:30px; border: 1px solid #e4e4e4; zoom:1; outline:none; border-radius:3px;}
.passBox input[type="password"]{ime-mode:disabled}
.passBox input:focus{ outline: none;}
.passBox input[type="checkbox"]{ border: none;}
.passBox input::-ms-clear{ display: none;}
.passBox .span8{ width:330px; margin: 0px;}
.passBox .span4{ width:300px; margin: 0px; overflow: hidden;}
.passBox .span8 ul li{ width: 330px;}
.passBox .span8 ul li.error{ height: 32px; line-height: 32px; background: #ffffff; font-style:normal; color:#ff8161;}
.passBox .span8 ul li.normal{ margin-bottom: 20px;}
.passBox .span8 ul li:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.passBox .error .fail{ width: 24px; height: 32px; background-position: -90px -197px; display: inline-block; vertical-align: middle;}
.passBox .input, .passwordTip{ width:287px;}
.passBox .mobilecode, .passBox .vcode{ width:158px; float: left;}
.passBox .acceptIpt{ margin:5px 6px 0 0; border:0; padding:0;}
.passBox .acceptIpt:focus{ border:0;}
.passBox .c-fl{ color:#686868; cursor:default; line-height: 38px; float: left;}
.passBox .c-fr{ padding-left:20px;}
.passBox .vcodeImg{ width:118px; height:38px; border: 1px solid #e4e4e4; float:left; margin-left: 10px; display:inline; cursor:pointer;}/*验证码*/
.passBox .vcodeImg img{ width:118px; height:38px; border: 0;}
.passBox .agreement, .passBox .mar-login, .passBox .remember{ width: 330px; font-size:14px; line-height:38px; color: #7f7f7f; float: left;}
.passBox .remember{ width: 300px;}
.passBox .quick-login{ color: #ff8161; text-decoration: underline; padding-left: 2px;}

.passBox .msg-box .safe{ width: 18px; height: 38px; float: right; display: inline-block; text-indent: -9999em;}
.passBox .msg-box .safe.week{ background-position: -118px -192px;}
.passBox .msg-box .safe.normal{ background-position: -147px -192px;}
.passBox .msg-box .safe.strong{ background-position: -175px -192px;}
.accept{ margin: -20px 0 10px;}
.reg-submit{ margin-top: -6px;}
.loginsecCode, #smsCode{ display: none;}
.passBox .code-btn{ width:120px; height:40px; line-height: 40px; font-size: 14px; margin-left: 10px; display: inline; border-radius: 3px; text-align:center; background:#7db7f6; color:#ffffff; float:left;}
.passBox .count{ background: #e4e4e4;font-size: 12px;margin: 18px 0px 28px;text-align: center;line-height: 1px;}
.passBox .count span{ color:#808080; padding:0 14px; background: #FFF;}
.passBox dl dd{ width: 338px; margin-left:-19px;}
.passBox dl dd a{ width: 47px; height:72px; float: left; margin:0 18px 10px; text-align: center; color: #666666;}
.passBox dl dd .icons{ width:50px; height:47px; display:inline-block;}
.passBox dl dd .icons:hover{ opacity: 0.8;}
.passBox dl dd .sina .icons{ background-position:1px -134px;}
.passBox dl dd .qq .icons{ background-position:-51px -134px;}
.passBox dl dd .baidu .icons{ background-position:-102px -134px;}
.passBox dl dd .tianyi .icons{ background-position:-153px -134px;}
.passBox dl dd .alipay .icons{ background-position:1px -252px;}
.passBox dl dd .weixin .icons{ background-position:-151px -251px;}
.passBox dl dd .more .icons{ background-position:-101px -252px;}
.passBox dl dd .closelink .icons{ background-position:-51px -252px;}
.passBox .login-btn{ color:#418fe4;}
.pass-main input[type="submit"]{ width:80px; height:30px; border:none; font-size:12px;}
.passBox .submit{ width:300px; height:50px; border-radius: 5px; background:#418fe4; color:#ffffff; font-size: 18px; line-height: 50px; border: none; text-align:center; cursor:pointer;}
.passBox .submit:hover{ background:#5e9ce1;}
.pass-main input[type=checkbox] .mark-fail{ border:0;}
.text-link{color:#4c8fd1;}
.text-link:hover{color:#4c8fd1; background:#FFF;}
.passBox .msg-box i.pass, .gov-right .msg-box i.pass{width:18px; height:38px; float: right; background-position: -90px -78px; text-indent:-9999em;}

.ecope_emailsuggest{ position:absolute; background:#fff; border:1px solid #ddd; width:186px; display:none; box-shadow:0 2px 5px rgba(0, 0, 0, 0.2); margin:0; }
.ecope_emailsuggest li{ height:28px; line-height:28px; padding:0 10px; overflow:hidden; font-size:12px; cursor:pointer;}
.ecope_emailsuggest .tip{ color:#999; }
.ecope_emailsuggest .current{ color:#fff; background:#2d89ef; }

.footer{ text-align:center; font-size:14px; padding: 80px 0 30px; color:#b7b7b7; line-height:28px;}
.footer a{ padding:0 10px; color:#797979;}
.footer a:hover{ color:#465575;}
.other-login a,a:link,a:visited,a:hover,a:active { text-decoration: none !important;}

/*20161008*/
.link-film{ display:block; position:absolute;  z-index:2; left:0;}
.hierarchy{ position:relative; z-index:3;}

.list{padding-left: 0;}
.list li input{padding:4px 6px;}