<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>下载频道_下载地址页</title>
    <link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}download.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    	 body, html {background:#FFF!important;}
    </style>
    <script type="text/javascript" src="{JS_PATH}jquery-1.7.2.min.js"></script>
</head>
<body>

    {if $allow_visitor=='1'}
    <a href="{$downurl}" class="xzs_btn"></a>
	{else}
    <center><a href="{APP_PATH}index.php?m=content&c=readpoint&allow_visitor={$allow_visitor}"><font color="red">阅读此信息需要您支付 <b><i>{$readpoint} {if $paytype}元{else}点{/if}</i></b>，点击这里支付</font></a></center>
	{/if}

</body>
</html>
