{template "content","header_min"}
<div class="main" style="background: #F1F2F3;padding-bottom: 54px;">
    <div class="shuaixuan">
        <div class="shuaixuan_top">
            <div class="item border" style="display:block;" id="video_type">
                <label>分类：</label>
                <ul>
                    <li class="li_active" data-val="0"><a href="javascript:;">全部</a></li>
                    {pc:get sql="select * from jzk_model_field where fieldid=116"}
                    {loop $data $zz}
                        {php $yy = string2array($zz[setting]);}
                        {php $xx = explode("\r\n",$yy[options]);}
                        {loop $xx $ww}
                            {php $vv = explode("|",$ww);}
                            <li data-val="{$vv[1]}"><a href="javascript:;">{$vv[0]}</a></li>
                        {/loop}
                    {/loop}
                    {/pc}

                </ul>
                <div style="clear: both;"></div>
            </div>
            <div class="item" style="display: block;" id="video_where">
                <label>地区：</label>
                <ul>
                    <li class="li_active" data-val="0"><a href="javascript:;">全部</a></li>
                    {pc:get sql="select * from jzk_model_field where fieldid=117"}
                    {loop $data $zz}
                        {php $yy = string2array($zz[setting]);}
                        {php $xx = explode("\r\n",$yy[options]);}
                        {loop $xx $ww}
                            {php $vv = explode("|",$ww);}
                            <li data-val="{$vv[1]}"><a href="javascript:;">{$vv[0]}</a></li>
                        {/loop}
                    {/loop}
                    {/pc}
                </ul>
                <div style="clear: both;"></div>
            </div>
            <div class="item" style="display: block;" id="video_style">
                <label>类型：</label>
                <ul>
                    <li class="li_active" data-val="0"><a href="javascript:;">全部</a></li>
                    {pc:get sql="select * from jzk_model_field where fieldid=118"}
                    {loop $data $zz}
                        {php $yy = string2array($zz[setting]);}
                        {php $xx = explode("\r\n",$yy[options]);}
                        {loop $xx $ww}
                            {php $vv = explode("|",$ww);}
                            <li data-val="{$vv[1]}"><a href="javascript:;">{$vv[0]}</a></li>
                        {/loop}
                    {/loop}
                    {/pc}
                </ul>
                <div style="clear: both;"></div>
            </div>
            <div class="item" style="display: block;" id="video_uptime">
                <label>时间：</label>
                <ul>
                    <li class="li_active" data-val="0"><a href="javascript:;">全部</a></li>
                    {pc:get sql="select * from jzk_model_field where fieldid=119"}
                    {loop $data $zz}
                        {php $yy = string2array($zz[setting]);}
                        {php $xx = explode("\r\n",$yy[options]);}
                        {loop $xx $ww}
                            {php $vv = explode("|",$ww);}
                            <li data-val="{$vv[1]}"><a href="javascript:;">{$vv[0]}</a></li>
                        {/loop}
                    {/loop}
                    {/pc}
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="shuaixuan_content">
            <div class="selecttype">
                <label>排序：</label>
                <ul>
                    <li class="li_active" data-val="0"><a href="javascript:;">最近更新</a></li>
                    <li data-val="1"><a href="javascript:;">最多评论</a></li>
                    <li data-val="2"><a href="javascript:;">最受欢迎</a></li>
                </ul>
                <!-- <div class="all_num">共<b><span id="total_videonum">***</span></b>个筛选结果</div> -->
                <div style="clear: both;"></div>
            </div>
            
            <script type="text/javascript">
            $(".shuaixuan_top ul li").click(function(){
                $(this).addClass("li_active");
                $(this).siblings().removeClass("li_active");
                var arr = new Array();
                $(".li_active").each(function(){
                    arr.push($(this).text()+"|"+$(this).attr("data-val"));
                });
                var str = arr.join(",");
                $.ajax({
                    type: "POST",  
                    url: "/php/select_movie.php", 
                    data:{str:str},
                    dataType: "json",
                    success: function(data) {
                        var json = eval(data);
                        var content = "";
                        $('.show_content ul').empty(); 
                        for (var i=0; i<json.length; i++){
                            content += '<li>\n'+
                                '<div class="show_movie">\n' +
                                '<div class="movie_thumb">\n' +
                                    '<a href="' + json[i].url +'" title="' + json[i].title + '" target="_blank" style="display: block;">\n' +
                                    '<img src="'+ json[i].thumb +'" alt="'+ json[i].title +'" style="width: 100%;height: 300px;">\n' +
                                    '</a>\n' +
                                '</div>\n' +
                            '<div class="movie_title"><a href="'+ json[i].url +'" title="'+ json[i].title +'" target="_blank">'+ json[i].title +'</a></div>\n' +
                            '<div class="movie_actor"><em>主演：</em>'+ json[i].actors +'</div>\n' +
                            '<div class="movie_click">'+ json[i].hits +'次点击</div>\n' +
                        '</div>\n' +
                    '</li>\n';
                        }
                        $('.show_content ul').append(content); 
                    },
                });
            });
            $(".selecttype ul li").click(function(){
                $(this).addClass("li_active");
                $(this).siblings().removeClass("li_active");
                var arr = new Array();
                $(".li_active").each(function(){
                    arr.push($(this).text()+"|"+$(this).attr("data-val"));
                });
                var str = arr.join(",");
                $.ajax({
                    type: "POST",  
                    url: "/php/select_movie.php", 
                    data:{str:str},
                    dataType: "json",
                    success: function(data) {
                        var json = eval(data);
                        var content = "";
                        $('.show_content ul').empty(); 
                        for (var i=0; i<json.length; i++){
                            content += '<li>\n'+
                                '<div class="show_movie">\n' +
                                '<div class="movie_thumb">\n' +
                                    '<a href="' + json[i].url +'" title="' + json[i].title + '" target="_blank" style="display: block;">\n' +
                                    '<img src="'+ json[i].thumb +'" alt="'+ json[i].title +'" style="width: 100%;height: 300px;">\n' +
                                    '</a>\n' +
                                '</div>\n' +
                            '<div class="movie_title"><a href="'+ json[i].url +'" title="'+ json[i].title +'" target="_blank">'+ json[i].title +'</a></div>\n' +
                            '<div class="movie_actor"><em>主演：</em>'+ json[i].actors +'</div>\n' +
                            '<div class="movie_click">'+ json[i].hits +'次点击</div>\n' +
                        '</div>\n' +
                    '</li>\n';
                        }
                        $('.show_content ul').append(content); 
                    },
                });
            });
            
            </script>

            <div style="clear: both;"></div>
            
            <div class="show_content">
                <ul>
                    {pc:content action="lists" catid="1" order="listorder desc"}
                    {loop $data $a}
                    <li>
                        <div class="show_movie">
                            <div class="movie_thumb">
                                <a href="{$a[url]}" title="{$a[title]}" target="_blank" style="display: block;">
                                <img src="{$a[thumb]}" alt="{$a[title]}" style="width: 100%;height: 300px;"></a>
                            </div>
                            <div class="movie_title"><a href="{$a[url]}" title="{$a[title]}" target="_blank">{$a[title]}</a></div>
                            <div class="movie_actor"><em>主演：</em>{$a[actors]}</div>
                            <div class="movie_click">{$a[hits]}次点击</div>
                        </div>
                    </li>
                    {/loop}
                    {/pc}
                    <div style="clear: both;"></div>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
{template "content","footer_min"}