<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />
    <link href="{CSS_PATH}style.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {color:#000000;background:url('');}
    </style>
    {$siteinfo['pc_topcode']}

</head>
<body>
    <div class="sitemap">
        <div class="sitemap_1">
            <span>网站地图</span><br /><hr />
        </div>
        <div class="sitemap_3">
            <ul>  
{pc:get sql="SELECT * FROM jzk_news ORDER BY id DESC LIMIT 0,10000-- "}
{loop $data $key $r}
                <li>[{$CATEGORYS[$r[catid]][catname]}] <a href="{$r[url]}" target="_blank" title='{$r[title]}'>{str_cut($r[title],120,'...')}</a></li>
{/loop}          
{/pc}   
            </ul>
        </div>
    </div>
    <div class="bridgeCode">{$siteinfo['pc_bottomcode']}</div>
</body>
</html>
